* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.fifty-eight main {
  color: black;
  background: rgba(220, 84, 57, 0.5);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  min-height: 88vh;
  border-bottom: 8px solid black;
}

.fifty-eight {
  background: #f5f3e8;
  font-family: "Century Schoolbook L";
  height: 100vh;
}

@font-face {
  font-family: "Century Schoolbook L";
  src: url("CenturySchL-Roma.woff2") format("woff2"), url("CenturySchL-Roma.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h2 {
  column-span: all;
  font-size: 1.375rem;
  font-style: italic;
  margin-bottom: 1rem;
  text-align: left;
  text-transform: uppercase;
}

em {
  color: #d62400;
}
.fifty-eight header {
  display: none;
}
@media (min-width: 768px) {
  .fifty-eight header {
    display: flex;
    padding-bottom: 0.9375rem;
    padding-top: 0.9375rem;
    border-bottom: 2px solid;
  }
}
.fifty-eight p {
  font-size: 1.125rem;
}
.fifty-eight h3 {
  font-family: "Cormorant Garamond";
  font-display: swap;
  font-size: 1.6rem;
  font-weight: 400;
}
.fifty-eight a, .fifty-eight b, .fifty-eight body, .fifty-eight canvas, .fifty-eight caption, .fifty-eight dd, .fifty-eight dl, .fifty-eight dt, .fifty-eight figure, .fifty-eight form, .fifty-eight h1, .fifty-eight h2, .fifty-eight h3, .fifty-eight h4, .fifty-eight header, .fifty-eight html, .fifty-eight i, .fifty-eight img, .fifty-eight li, .fifty-eight menu, .fifty-eight nav, .fifty-eight object, .fifty-eight p, .fifty-eight pre, .fifty-eight s, .fifty-eight span, .fifty-eight summary, .fifty-eight time, .fifty-eight ul, .fifty-eight var {
  margin: 0;
  padding: 0;
}
.fifty-eight .title {
  padding-top: 8.125rem;
  padding-bottom: 1.5625rem;
  line-height: 1.12;
  border-bottom: 2px solid;
}
.fifty-eight li {
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 2px solid;
  display: flex;
}
.fifty-eight .table li:last-child {
  border-bottom: 0px;
}
.fifty-eight dl {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h3 {
  font-family: "Cormorant Garamond";
  width: 100%;
  font-size: 2rem;
}

p:nth-child(2) {
  display: none;
}

p:nth-child(3) {
  display: none;
}

.table-top p:nth-child(1) {
  width: 35%;
}

@media (min-width: 768px) {
  h3 {
    width: 35%;
  }

  p:nth-child(2) {
    width: 50%;
    display: block;
  }

  p:nth-child(3) {
    width: 15%;
    display: block;
  }
}
