$redlight:rgba(220, 84, 57, 0.5);
$black: #191919;
$paper: #f5f3e8;

%redlight {
    color: $black;
    background: $redlight;
}

%paper {
    background: $paper;
}

%typewriter {
  background: #eebe6d;
  color: #db5439
}

@font-face {
  font-family: 'Century Schoolbook L';
  src: url('CenturySchL-Roma.woff2') format('woff2'),
       url('CenturySchL-Roma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

%font {
  font-family: 'Century Schoolbook L';
}